h5{
    text-align:center;
}

.animated .fadeIn{
    display: block;
    margin-right: 1%;
    margin-left: 1%;
    width :98%;
}

.col-form-label{
    font-weight:normal;
}

.form-group{
    padding:0px 40px 0px 0px;
    
}

select{
    margin-bottom: 1px;;
}

form{
    background-color:azure;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}