.centrer{
    text-align:center;
}

thead{
    border: 1px black solid;
}

 .td_statut{
    text-align:center;
    color:black;
}

.td_modif{
    text-align:center;
}

thead{
    background-color:rgb(33,123,150);
}

select{
    min-width: 250px;
}

h4{
    font-weight: bold;
}
.row{
margin-bottom:10px;
}

button{
    max-width: 200px;
}