.form-control{
    text-align: left;
}

.col-form-label{
    font-weight:bold;
}

form{
    padding-left: 20px;
}

.form-text{
       font-style: italic;
}

h1{
    font-weight: bold;
    color:darkslategrey;
    font-size:1.2em;
}

.form-group{
    margin-bottom:15px;
}

form{
    background-color:azure;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;

}