fieldset{
    border: 1px rgb(33,123,150) solid;
    padding: 10px 10px 30px 10px;
  
 
}

legend{
    background-color:rgb(33,123,150);
    color: #fff;
    padding: 2px 3px;
    font-size:1em;
}

.td_modif
{
    text-align: center;
}

.bordure{
border:1px rgba(94, 118, 133, 0.774) solid;
}

.lbltext{
    color:rgb(23, 65, 83);
    font-weight:500;
}

.row {
    margin-bottom:10px;
 
}

.help-block{
    font-style: italic;
}